*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-BookItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

:root {
    --dark-green: #151A27;
    --light-green: #37C25E;
}

body {
    overflow-x: hidden;
    font-family: 'CircularStd', sans-serif;
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

.header {
    width: 100%;
    height: 4.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 5rem;
    height: 4.5rem;
    background-color: var(--dark-green);
    position: fixed;
    overflow: hidden;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.logo-wrapper img {
    width: 2.5rem;
    height: 2.5rem;
}

.logo-wrapper .logo-text {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-links li a {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.nav-links li a:hover {
    color: var(--light-green);
}

.auth-buttons {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.auth-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.75rem;
    width: 8.5rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

button.login-btn {
    background-color: var(--light-green);
    color: white;
}

button.register-btn {
    background-color: transparent;
    border: var(--light-green) 1px solid;
    color: var(--light-green);
}

.auth-buttons button:hover {
    transform: scale(1.025);
}

.auth-buttons button:active {
    transform: scale(1);
}

.footer {
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--dark-green);
    color: white;
}

.left-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.left-footer img {
    width: 3.5rem;
    height: 3.5rem;
}

.left-footer h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.left-footer p {
    font-size: 1rem;
    font-weight: 300;
    color: rgb(160, 160, 160);
}

.right-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 2rem;
}

.footer-nav {
    display: flex;
    gap: 1.5rem;
}

.right-footer a {
    color: rgb(160, 160, 160);
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    transition: 0.25s;
}

.right-footer a:hover {
    color: white;
}

.right-footer p {
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150vh;
    background: linear-gradient(0deg, rgba(55, 194, 94, 1) 0%, rgba(39, 116, 68, 1) 40%, rgba(21, 26, 39, 1) 90%);
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    margin-bottom: 4rem;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.top-hero-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    --bg-size: 400%;
    --color-one: rgb(255, 255, 255);
    --color-two: rgb(39, 116, 68);
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    animation: move-bg 10s infinite linear;
}

@keyframes move-bg { 
    to {
      background-position: var(--bg-size) 0;
    }
  }

.hero p {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
}

.hero img {
    height: 36rem;
    width: 24rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 32px;
}

.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 3rem;
    background-color: var(--light-green);
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
}

.start-button:hover {
    transform: scale(1.025);
}

.start-button:active {
    transform: scale(1);
}

.feature-list {
    margin-top: 3rem;
    width: 75%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2rem 0;
    background-color: rgba(255, 255, 255, 1);

    gap: 1rem;
    border: 0;
    border-radius: 0.75rem;
}

.feature-list h2 {
    grid-column: 1 / 3;
    color: var(--light-green);
    font-weight: 700;
    font-size: 1.75rem;
    text-align: center;
}

.feature-list li {
    list-style-type: none;
    color: var(--light-green);
    font-weight: 700;
    font-size: 1.25rem;
}



/* https://dribbble.com/shots/21015641-Investment-Platform-Landing-Page */
