*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-BookItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../fonts/CircularStd-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

:root {
    --dark-green: #151A27;
    --mid-green: #081F0F;
    --light-green: #37C25E;
}

body {
    overflow-x: hidden;
    font-family: 'CircularStd', sans-serif;
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.header {
    width: 100%;
    height: 4.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 5rem;
    height: 4.5rem;
    background-color: var(--dark-green);
    position: fixed;
    overflow: hidden;
    z-index: 1000;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    min-width: 20rem;
}

.logo-wrapper img {
    width: 2.5rem;
    height: 2.5rem;
}

.logo-wrapper .logo-text {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    min-width: 20rem;
}

.nav-links li a {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.25s;
}

.nav-links li a:hover {
    color: var(--light-green);
}

.auth-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    min-width: 20rem;
}

.auth-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.75rem;
    width: 8.5rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.1s;
}

button.login-btn {
    background-color: var(--light-green);
    color: white;
}

button.register-btn {
    background-color: transparent;
    border: var(--light-green) 1px solid;
    color: var(--light-green);
}

.auth-buttons button:hover {
    transform: scale(1.025);
}

.auth-buttons button:active {
    transform: scale(1);
}

.footer {
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--dark-green);
    color: white;
}

.left-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.left-footer img {
    width: 3.5rem;
    height: 3.5rem;
}

.left-footer h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.left-footer p {
    font-size: 1rem;
    font-weight: 300;
    color: rgb(160, 160, 160);
}

.right-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 2rem;
}

.footer-nav {
    display: flex;
    gap: 1.5rem;
}

.right-footer a {
    color: rgb(160, 160, 160);
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    transition: 0.25s;
}

.right-footer a:hover {
    color: white;
}

.right-footer p {
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

.dropdown-btn, .mega-menu {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, rgba(8,31,15,1) 50%, rgba(21,26,39,1) 100%);
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    margin-bottom: 4rem;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.top-hero-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    --bg-size: 400%;
    --color-one: rgb(255, 255, 255);
    --color-two: rgb(39, 116, 68);
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    animation: move-bg 10s infinite linear;
}

@keyframes move-bg { 
    to {
      background-position: var(--bg-size) 0;
    }
  }

.hero p {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
}

.hero img {
    height: 36rem;
    width: 24rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 32px;
}

.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 3rem;
    background-color: var(--light-green);
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: 0.1s;
}

.start-button:hover {
    transform: scale(1.025);
}

.start-button:active {
    transform: scale(1);
}

.feature-list {
    margin-top: 3rem;
    width: 75%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2rem 0;
    background-color: rgba(255, 255, 255, 1);

    gap: 1rem;
    border: 0;
    border-radius: 0.75rem;
}

.feature-list h2 {
    grid-column: 1 / 3;
    color: var(--light-green);
    font-weight: 700;
    font-size: 1.75rem;
    text-align: center;
}

.feature-list li {
    list-style-type: none;
    color: var(--light-green);
    font-weight: 700;
    font-size: 1.25rem;
}

.charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 80%;
    padding: 3rem 8rem 0 8rem;
}

#hits-charts {
    padding-bottom: 2rem;
}

.charts-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.charts-header h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.charts-header a {
    color: #ADADAD;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.08em;
    transition: 0.25s;
}

.charts-header a:hover {
    color: white;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: min(2rem, 5%);
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 14rem;
    height: 20.25rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0.5rem;
    cursor: pointer;
}

.card-image-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 3rem;
    height: 3rem;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--light-green);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.card:hover .play-button {
    display: flex;
}

.card:hover .play-button:hover {
    transform: scale(1.048);
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.04);
}

.card img {
    width: 12rem;
    border-radius: 0.25rem;
}

.card-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;
}

.card-text h3, .card-text p {
    overflow: hidden;
}

.card-text h3 {
    width: 100%;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.03em;
    font-weight: 500;
}

.card-text p {
    width: 100%;
    color: #B3B3B3;
    font-size: 1rem;
    font-weight: normal;
}

.grad-bg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grad-bg .top-text {
    margin-top: 2rem;
    padding: 3rem 8rem 0 8rem;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.grad-bg .top-text h1 {
    font-size: 5rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 32px rgba(0, 0, 0, 0.37);
}

.table-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-section .top-text h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.table-section .top-text h1 span {
    --bg-size: 400%;
    --color-one: rgb(255, 255, 255);
    --color-two: rgb(39, 116, 68);
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    animation: move-bg 10s infinite linear;
}

.table-section .top-text {
    padding: 0 8rem;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

.table-section h2 {
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 8rem;
}

.table-row {
    display: flex;
    width: 100%;
    align-items: center;
}

.table-row:hover {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 0.5rem;
    cursor: pointer;
}

.table-row:hover .cell:nth-child(1) {
    color: white;
}

.table-row-header {
    display: flex;
    width: 100%;
    padding: 0.5rem 0 0 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.table-row-header > .cell {
    flex: 1;
    padding: 1rem 0;
    color:#ADADAD;
}

#header-number, .table-row > .cell:nth-child(1) {
    text-align: center;
}

.table-row > .cell {
    flex: 1;
    padding: 0.5rem 0;
    color: #ADADAD;
}

.table-row > .cell:nth-child(1), .table-row-header > .cell:nth-child(1) {
    flex: 0.3;
}

.table-row > .cell:nth-child(2), .table-row-header > .cell:nth-child(2) {
    flex: 2;
}

.album-cover {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 0.25rem;
}

.song-info {
    display: flex;
    gap: 0.5rem;
}

.text-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1rem;
}

.text-info .title {
    font-size: 1rem;
    color: white;
}

.text-info .artist {
    font-size: 1rem;
    color: #ADADAD;
    font-weight: 200;
}

.display-none {
    display: none;
}

.song-detail {
    height: calc(100vh - 12rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    min-width: 50rem;
    height: 40rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}

.back-arrow-btn {
    height: 2.75rem;
    width: 2.75rem;
    filter: brightness(0.8);
}

.back-arrow-btn:hover {
    filter: brightness(1);
    cursor: pointer;
}

.left-right-detail {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.left-detail-card {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
}

.album-cover-img {
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
}

.song-duration {
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: default;
}

.detail-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.play-btn-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--light-green);
    color: white;
    font-size: 2rem;
    font-weight: 500;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
}

.play-btn-detail:hover {
    transform: scale(1.048);
}

.play-btn-detail:active {
    transform: scale(1);
}

.detail-buttons .share-button {
    width: 2.25rem;
    height: 2.25rem;
    filter: brightness(0.8);
}

.detail-buttons .share-button:hover {
    cursor: pointer;
    filter: brightness(1);
}

.right-detail-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    overflow-x: hidden;
}

.song-title {
    color: var(--light-green);
    font-size: 2.5rem;
    font-weight: 700;
}

.song-title:hover, .artist-subtitle:hover, .album-subtitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

.artist-album {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    max-width: 100%;
}

.artist-album h2 {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: default;
}

.lyrics-subtitle {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
}

.song-lyrics {
    width: 100%;
    height: 20rem;
    overflow-y: auto;
    padding-right: 1rem;
}

.lyrics-text {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.layered-waves-bg {
    aspect-ratio: 1920 / 600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.l-w-bg {
    background-image: url('../../src/images/svg/layered-waves-1.svg');
}

.register-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 11.5rem);
}

.register-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 35rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.left-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: white;
    border-radius: 2rem 0 0 2rem;
    gap: 1rem;
    padding: 2rem;
    transition: 1s;
}

.left-register-success {
    background-color: var(--light-green);
}

.left-register h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--dark-green);
}

.left-register p {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--dark-green);
}

.left-register button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--light-green);
    border-radius: 1.25rem;
    width: 10.625rem;
    height: 3.75rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.1s;
    background-color: transparent;
    color: var(--light-green);
}

.left-register button:hover {
    transform: scale(1.025);
    background-color: var(--light-green);
    color: white;
}

.left-register button:active {
    transform: scale(1);
}

.right-register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 50%;
    border-radius: 0 2rem 2rem 0;
    gap: 1rem;
    padding: 2rem;
    transition: 1s;
}

.right-register h2 {
    color: white;
}

.right-register label {
    color: #ADADAD;
}

.right-register h1 {
    color: var(--light-green);
    font-size: 3rem;
    font-weight: 700;
}

.right-register h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.register-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

.personal-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.password-inputs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.form-group label {
    color: #ADADAD;
    font-size: 1rem;
    font-weight: 500;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkbox-group .t-n-c {
    color: var(--light-green);
    cursor: pointer;
}

.checkbox-group .t-n-c:hover {
    text-decoration: underline;
}

.checkbox-group input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
}

.checkbox-group label {
    color: white;
}

.form-group:focus-within label {
    color: white;
}

.register-form input[type='text'], .register-form input[type='email'], .register-form input[type='password'] {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    border: 1px solid #ADADAD;
    border-radius: 0.25rem;
    color: #ADADAD !important;
    font-size: 1rem;
    font-weight: 300;
    background-color: transparent !important;
}

.register-form input[type='text']:focus-visible, .register-form input[type='email']:focus-visible, .register-form input[type='password']:focus-visible {
    color: white !important;
    outline: none;
    border: 1px solid white !important;
}

.register-form select[name='gender'] {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    border: 1px solid #ADADAD;
    border-radius: 0.25rem;
    color: #ADADAD !important;
    font-size: 1rem;
    font-weight: 300;
    background-color: transparent !important;
}

.register-form select[name='gender'] option {
    color: black;
}

.register-form select[name='gender']:focus-visible {
    color: white !important;
    outline: none;
    border: 1px solid white !important;
}

.form-wrapper button[type='submit'] {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1.125rem;
    width: 100%;
    height: 3.75rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.2s;
    background-color: var(--light-green);
    color: white;
}

.form-wrapper button[type='submit']:hover {
    color: var(--light-green);
    background-color: white;
    transform: scale(1.025);
}

.form-wrapper button[type='submit']:active {
    transform: scale(1);
}

.invalid-msg {
    color: red;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
}

.invalid-msg:focus-within {
    color: red;
}

.invalid-input {
    border: 1px solid red !important;
}

@media (max-width: 600px) { /* Mobile */

    .dropdown-btn, .exit-btn {
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        min-width: 2rem;
    }

    .bar {
        background-color: #ffffff;
        border-radius: 2px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        z-index: 1001;
    }

    .logo-wrapper .logo-text {
        font-size: 2rem;
    }

    .header {
        width: 100vw;
        overflow-x: hidden;
    }
    
    .logo-wrapper {
        min-width: 2rem;
    }

    .navbar {
        width: 100vw;
        min-height: 3.5rem;
        padding: 1rem 3rem;
        position: static;
    }

    .nav-links, .auth-buttons {
        display: none;
    }

    .logo-wrapper img {
        width: 2rem;
        height: 2rem;
    }

    .grad-bg .top-text {
        padding: 0 1rem 0 1rem;
        margin-bottom: 2rem;
    }

    .grad-bg .top-text h1 {
        font-size: 4rem;
        text-align: center;
    }

    .charts {
        padding: 0 1rem 1.5rem 1rem;
    }

    .card-container {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80vw;
        row-gap: 5%;
    }

    .card {
        width: 45%;
        height: 15rem;
    }

    .table-section .top-text {
        padding: 0 1rem;
    }

    .table-container {
        padding: 0 0.25rem;
        width: 90%;
    }

    .table-container * {
        font-size: 0.8rem !important;
    }

    .table-row {
        gap: 10px;
    }

    .table-row > .cell {
        padding: 0.8rem 0;
    }

    .table-row > .cell:nth-child(2), .table-row-header > .cell:nth-child(2) {
        flex: 1.5;
    }

    .table-row > .cell:nth-child(3), .table-row-header > .cell:nth-child(3) {
        flex: 1.25;
    }

    .table-row > .cell:nth-child(4), .table-row-header > .cell:nth-child(4) {
        flex: 0.4;
    }

    .footer {
        height: 6rem;
    }

    .footer-content {
        height: 100%;
    }

    .left-footer {
        padding: 0 1rem;
        gap: 0.5rem;
        min-width: 50%;
        height: 100%;
        min-height: 100%;
    }

    .right-footer {
        padding: 0;
        padding-right: 1rem;
    }

    .left-footer img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .left-footer h1 {
        font-size: 1rem;
    }

    .left-footer p {
        font-size: 0.75rem;
    }

    .right-footer a {
        text-align: right;
        font-size: 0.75rem;
    }

    .right-footer p {
        text-align: right;
        font-size: 0.75rem;
    }

    .footer-nav {
        width: 100%;
    }

    .hero {
        flex-direction: column-reverse;
        gap: 1rem;
        padding: 2rem 0;
    }

    .hero h1 {
        font-size: 3rem;
        text-align: center;
        padding: 0 1rem;
    }
    
    .hero p {
        font-size: 1.5rem;
        text-align: center;
        padding: 0 1rem;
    }

    .hero img {
        height: 16rem;
        width: 90%;
        object-fit: cover;
        object-position: center -60px;
    }

    .top-hero-left {
        gap: 1rem;
        align-items: center;
    }
    
    .mega-menu-active {
        z-index: 1002;
        display: block;
        position: absolute;
        min-width: 100vw;
        min-height: 300vh;
        background-color: var(--mid-green);
        animation: slide-in 0.3s ease-in-out;
    }

    @keyframes slide-in {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .mega-menu-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .mega-menu-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
    }

    .exit-btn {
        background-color: transparent;
        border: none;
        margin-top: 24px;
        margin-right: 32px;
    }

    .mega-menu-links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
    }

    .mega-menu-links li {
        text-decoration: none;
        list-style: none;
    }

    .mega-menu-links a {
        color: white;
        font-size: 1.25rem;
        font-weight: 500;
        text-decoration: none;
        transition: 0.25s;
    }

    .mega-menu-links a:hover {
        color: var(--light-green);
    }

    .mega-auth-buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
    }

    .mega-auth-buttons button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 0.75rem;
        width: 8.5rem;
        height: 2.5rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        transition: 0.1s;
    }
    
    button.login-btn {
        background-color: var(--light-green);
        color: white;
    }
    
    button.register-btn {
        background-color: transparent;
        border: var(--light-green) 1px solid;
        color: var(--light-green);
    }
    
    .auth-buttons button:hover {
        transform: scale(1.025);
    }
    
    .auth-buttons button:active {
        transform: scale(1);
    }

    
    .content {
        min-height: 100vh;
    }

    main {
        min-height: 100vh;
    }

    .song-detail {
        margin-top: 2rem;
        height: 100%;
        width: 80vw;
    }

    .album-cover-img {
        width: 15rem;
        height: 15rem;
        border-radius: 1rem;
    }

    .left-detail-card {
        gap: 1rem;
    }

    .detail-card {
        min-height: 60rem;
        max-width: 80vw;
        min-width: 100%;
    }

    .left-right-detail {
        flex-direction: column;
        gap: 1rem;
    }

    .song-lyrics {
        height: 15rem;
    }

    .register-wrapper {
        height: 100%;
    }

    .register-card {
        width: 100%;
        flex-direction: column;
        min-height: 5rem;
    }

    .left-register {
        width: 100%;
        border-radius: 2rem 2rem 0 0;
        height: 30%;
    }

    .right-register {
        width: 100%;
        border-radius: 0 0 2rem 2rem;
        height: 80%;
    }
}

@media (max-width: 768px) and (min-width: 601px) { /* Tablet */

    .dropdown-btn {
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        min-width: 2rem;
    }

    .bar {
        background-color: #fff;
        border-radius: 2px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        z-index: 1001;
    }

    .logo-wrapper .logo-text {
        font-size: 2rem;
    }

    .header {
        width: 100vw;
        overflow-x: hidden;
    }
    
    .logo-wrapper {
        min-width: 2rem;
    }

    .navbar {
        width: 100vw;
        min-height: 3.5rem;
        padding: 0.5rem 7rem;
        position: static;
    }

    .nav-links, .auth-buttons {
        display: none;
    }

    .logo-wrapper img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .grad-bg .top-text {
        padding: 0 1rem 0 1rem;
        margin-bottom: 2rem;
    }

    .grad-bg .top-text h1 {
        font-size: 4rem;
        text-align: center;
    }

    .charts {
        padding: 0;
    }

    .card-container {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80vw;
        row-gap: 5%;
    }

    .card {
        width: 45%;
        height: 15rem;
    }

    .card img {
        width: 10rem;
    }

    .table-section .top-text {
        padding: 0 1rem;
    }

    .table-container {
        padding: 0 0.25rem;
        width: 90%;
    }

    .table-row {
        gap: 10px;
    }

    .table-row > .cell {
        padding: 0.8rem 0;
    }

    .table-row > .cell:nth-child(2), .table-row-header > .cell:nth-child(2) {
        flex: 1.5;
    }

    .table-row > .cell:nth-child(3), .table-row-header > .cell:nth-child(3) {
        flex: 1.25;
    }

    .table-row > .cell:nth-child(4), .table-row-header > .cell:nth-child(4) {
        flex: 0.4;
    }

    .footer {
        height: 6rem;
    }

    .footer-content {
        height: 100%;
    }

    .left-footer {
        padding: 0 1rem;
        gap: 0.5rem;
        min-width: 50%;
        height: 100%;
        min-height: 100%;
    }

    .right-footer {
        padding: 0;
        padding-right: 1rem;
    }

    .left-footer img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .left-footer h1 {
        font-size: 1rem;
    }

    .left-footer p {
        font-size: 0.75rem;
    }

    .right-footer a {
        text-align: right;
        font-size: 0.75rem;
    }

    .right-footer p {
        text-align: right;
        font-size: 0.75rem;
    }

    .footer-nav {
        width: 100%;
    }

    .hero {
        flex-direction: column-reverse;
        gap: 1rem;
        padding: 2rem 0;
    }

    .hero h1 {
        font-size: 3rem;
        text-align: center;
        padding: 0 1rem;
    }
    
    .hero p {
        font-size: 1.5rem;
        text-align: center;
        padding: 0 1rem;
    }

    .hero img {
        height: 24rem;
        width: 90%;
        object-fit: cover;
        object-position: center -200px;
    }

    .top-hero-left {
        gap: 1rem;
        align-items: center;
    }

    .mega-menu-active {
        z-index: 1002;
        display: block;
        position: absolute;
        min-width: 100vw;
        min-height: 300vh;
        background-color: var(--mid-green);
        animation: slide-in 0.3s ease-in-out;
    }

    @keyframes slide-in {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .mega-menu-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .mega-menu-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
    }

    .exit-btn {
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        min-width: 2rem;
        background-color: transparent;
        border: none;
        margin-top: 36px;
        margin-right: 96px;
    }

    .mega-menu-links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
    }

    .mega-menu-links li {
        text-decoration: none;
        list-style: none;
    }

    .mega-menu-links a {
        color: white;
        font-size: 2rem;
        font-weight: 500;
        text-decoration: none;
        transition: 0.25s;
    }

    .mega-menu-links a:hover {
        color: var(--light-green);
    }

    .mega-auth-buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
    }

    .mega-auth-buttons button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 1.5rem;
        width: 17rem;
        height: 5rem;
        cursor: pointer;
        font-size: 2rem;
        font-weight: 500;
        transition: 0.1s;
    }
    
    button.login-btn {
        background-color: var(--light-green);
        color: white;
    }
    
    button.register-btn {
        background-color: transparent;
        border: var(--light-green) 1px solid;
        color: var(--light-green);
    }
    
    .auth-buttons button:hover {
        transform: scale(1.025);
    }
    
    .auth-buttons button:active {
        transform: scale(1);
    }

    .content {
        min-height: 100vh;
    }

    main {
        min-height: 100vh;
    }

    .song-detail {
        margin-top: 2rem;
        height: 100%;
        width: 80vw;
    }

    .detail-card {
        min-height: 60rem;
        max-width: 80vw;
        min-width: 100%;
    }

    .left-right-detail {
        flex-direction: column;
        gap: 1rem;
    }

    .left-detail-card {
        flex-direction: row;
    }

    .song-lyrics {
        height: 20rem;
    }

    .register-card {
        width: 90%;
        flex-direction: column;
    }

    .left-register {
        width: 100%;
        border-radius: 2rem 2rem 0 0;
        height: 30%;
    }

    .right-register {
        width: 100%;
        border-radius: 0 0 2rem 2rem;
        height: 80%;
    }
}